<app-navbar></app-navbar>
<section class="section-bg p-5">
  <div class="about-us">
    <h2>À propos de notre agence de voyage</h2>
    <p>Bienvenue sur le site web de notre agence de voyage!</p>
    <p>Nous sommes une équipe passionnée de voyageurs qui se consacre à offrir des expériences inoubliables à nos
      clients.</p>
    <p>Notre objectif est de créer des itinéraires sur mesure et de fournir un service exceptionnel pour que nos clients
      puissent vivre des aventures uniques.</p>
    <h3>Notre mission</h3>
    <p>Notre mission est de rendre les rêves de voyage de nos clients réalité en leur proposant des destinations
      captivantes, des services de qualité et des conseils d'experts.</p>
    <h3>Nos valeurs</h3>
    <ul>
      <li>Passion - Nous sommes passionnés par les voyages et nous souhaitons partager cette passion avec nos clients.
      </li>
      <li>Service client - Nous mettons nos clients au cœur de tout ce que nous faisons et nous nous efforçons de
        fournir un service client exceptionnel.</li>
      <li>Qualité - Nous sélectionnons soigneusement nos partenaires pour garantir des expériences de voyage de la plus
        haute qualité.</li>
      <li>Respect - Nous respectons les cultures, les communautés locales et l'environnement dans tous nos voyages.</li>
    </ul>
    <h3>Contactez-nous</h3>
    <p>Pour toute question ou demande d'information, n'hésitez pas à nous contacter :</p>
    <ul>
      <li>Téléphone : +216 25025017</li>
      <li>Email : contact@agencedevoyage.com</li>
      <li>Adresse : 123 Rue des Voyages, Tunis, Tunisie</li>
    </ul>
  </div>
</section>